layout {
    pane split_direction="horizontal" {
        pane size="3%" borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size="69%" split_direction="vertical" {
            pane name="DOIT!" focus=true size="70%" cwd="/home/anthony/Dev" 
            pane name="assistance" size="30%" stacked=true {
                pane size="33%" {
                    plugin location="zellij:strider"
                }
                pane name="KeyMap"
                pane name="Tools"
                pane name="Python" cwd="~/Script/" command="python3"
            } 
        }
        pane name="Console" size="20%" stacked=true {
            pane name="Cmd" {}
            pane name="Debug" {}
        }
        pane name="This is a good spot for an inspirational quote or addage!" {
            plugin location="zellij:status-bar"
        }
    }
}